{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
         I am Rohit Pimpale, a Computer Engineering student at PICT College, Pune,
          passionate about technology and innovation.
          With strong skills in Python, web development, and C++,
          I enjoy tackling coding challenges and building creative solutions.
          I am a responsible, quick learner who’s always eager to gain new experiences.
          My interests extend beyond technology—I enjoy painting and
          playing badminton—which help me stay balanced and creative.
          I’m excited to connect with others, collaborate,
          and contribute to impactful projects as I prepare to launch my career in technology.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
